<h1>Contact Details</h1>
<p>This is the Contact Page</p>
<table border="1">
<tr>
<td>Days That We Can Be Contacted</td>
  <td>Times</td>
</tr>
<tr>
<td>Monday</td>
  <td>9am - 9pm</td>
</tr>
<tr>
<td>Tuesday</td>
  <td>9am - 9pm</td>
</tr>
<tr>
<td>Wednesday</td>
  <td>10am - 6pm</td>
</tr>
<tr>
<td>Thursday</td>
  <td>9am - 9pm</td>
</tr>
<tr>
<td>Friday</td>
  <td>9am - 9pm</td>
</tr>
<tr>
<td>Saturday</td>
  <td>12pm - 8pm</td>
</tr>
<tr>
<td>Sunday</td>
  <td>12pm - 8pm</td>
</tr>
</table>