<h3>Documentation regarding the website Stark Auction Industries, by Matheau Starkoff</h3>

<h3>This application was based on my Assignment 1 Solution</h3>
<h3>You sign up with: http://matheau-starkoff-rails-71155.apse2.nitrousbox.com:3000/signup </h3>
<h3>You sign in with: http://matheau-starkoff-rails-71155.apse2.nitrousbox.com:3000/signin </h3>

<h3>You look at items with: http://matheau-starkoff-rails-71155.apse2.nitrousbox.com:3000/items</h3>

<h3>There are no significant or interesting assumptions made in assignment 2</h3>

<h3>There are no significant or interesting decisions made in assignment 2</h3>

<h3>There are no significant or interesting implementation techniques made in assignment 2</h3>

<h3>The requirements that were not implemented are: the bidding system was unable to be finished because of major errors, closing date time for items, Pagination, Item Image, Time Remaining, Java Script and two coloum layout. I was unable to implement this because i ran out of time</h3>

<h3>The features that were not implemented are: all the features that are included in the bidding system, because of the same problem</h3>

<h3>Some of the Testers of the usability side of my website have informed me that there are some unappealing visual layouts, changes have been made</h3>
