<%= form_for(@bid) do |f| %>
<% if @bid.errors.any? %>
<div>
  <h2><%= pluralize(@bid.errors.count, "error") %> prohibited from being saved:</h2>
  
    <ul>
    <% @bid.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <% end %>
    
    <% if signed_in? && @current_user.id != @item.vendor_id %>
    <p>
      <strong>Bid:</strong><td><div class="field">
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.hidden_field :user_id, value: @current_user.id %>
      <%= f.number_field :amount, min: @item.price, value: @item.price %>
      <%= f.submit "Place a bid" %>
      </p>
      <% else %>
      <b>Bid: Bid Unavailable</b>
      <% end %>
      <% end %>