<div>
  <div>
    <h1> Bidding History </h1>
    <%= link_to "Return to item", item_path(@item) %> <br><br>
    <table>
      <tr>
        <th>Bidder</th>
        <th>Bid Time</th>
        <th>Bid Amount</th>
      </tr>
      <% @bids.each do |bid| %>
      <tr>
        <td><%= User.find(bid.user_id).name %></td>
        <td><%= bid.created_at %></td>
        <td><%= bid.amount %></td>
        <% end %>
      </tr>
    </table>
    <br><br>
  </div>
</div>