<h1>Create New Account</h1>

<%= form_for(@user) do |f|%>
<% if @user.errors.any? %>
<div id="error_explanation"> <!--Pluralised for better readability--> 
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this item from being saved:</h2> 
  <ul> <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %> </ul>
</div>
<% end %>
<div class="field"> <%= f.label :name, 'Name:' %> <%= f.text_field :name %> </div> 
<div class="field"> <%= f.label :email, 'Email:' %> <%= f.email_field :email %> </div> 
<div class="field"> <%= f.label :password, 'Password:' %> <%= f.password_field :password %> </div> 
<div class="field"> <%= f.label :password_confirmation, 'Password confirmation:' %> <%= f.password_field :password_confirmation %> </div>
<div class="actions"> <%= f.submit %> </div> <% end %>