<div>
<% provide(:title, @user.name) %>
</div>
<div>
  <aside>
    <section>
      <h1>
        <%= "Name: " + @user.name %> | <%= "Email: " + @user.email %>
      </h1>
      <h2><% if @current_user.id == @user.id || @current_user.admin %>
          <%= link_to 'Delete', @user, method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
      </h2>
    </section>
  </aside>
</div>