<h1>Search for items</h1>

<%= form_tag items_path, method: 'get' do %>
  <p>
    <%= label_tag :query, "Search for:" %>
    <%= text_field_tag :query, params[:query] %>
    <%= select_tag(:searchItems, options_for_select(@categoryOpts), prompt: 'Please Select:') %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<h1>Listing Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Starting Price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>      
        <td><%= link_to item.name, item %></td>
        <td><%= item.category.name %></td>
        <td><%= item.starting_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Item', new_item_path %>
<br>


