<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @item.vendor %>
</p>

<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Starting price:</strong>
  <%= @item.starting_price %>
</p>

<%= render 'bids/form', bid: Bid.new %>
<% if signed_in? && @current_user.id == User.find(@item.vendor_id).id %>
<%= link_to 'Bid_Listing', bid_path(@item) %>
<%= link_to 'Update', edit_item_path(@item) %> |
<%= link_to 'Remove', :item, method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
<%= link_to 'Bid_Listing', bid_path(@item) %>
<% end %>
