html {
background-color: grey;
}
h1Head{
 padding-top: 20px; 
}

body
{
  padding-top: 2px;
  position: relative;
  background-color: black;
  text-align: center;
  width: 500px;
  margin: auto;
  border-radius: 75px;
  color:black;
}
h1
{
color:red;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:20px;
  text-align:center;
  color:white;
}
h3
{
  font-family:"Comic Sans";
  font-size:15px;
  text-align:center;
  color:white;
}
h2
{
  font-family:"Comic Sans";
  font-size:23px;
  color:#600000;
  text-align:center;
}
header
{
  text-align:center;
  color: white;
}
UL
{
color: white;
}

Table
{
  margin-left: auto;
  margin-right: auto;
  background-color:black ;
  color:#ffffff ;
}