<header>
	<h1> Stark Auction Industries </h1>

   <% if signed_in? %>
        <%= "Welcome to Stark Auction Industries " + @current_user.name + "!"%>
  <br>
        <%= link_to "Home", items_path %> |
	      <%= link_to "Contact", contact_path %> |
	      <%= link_to "About", about_path %> |
	      <%= link_to "Help", help_path %> |
        <%= link_to "Users", users_path %> |  
        <%= link_to "Profile", current_user %> |
        <%= link_to "Logout", signout_path, method: "delete" %>
    <% else %>
        <%= link_to "Home", items_path %> |
	      <%= link_to "Contact", contact_path %> |
	      <%= link_to "About", about_path %> |
	      <%= link_to "Help", help_path %> |
        <%= link_to "Sign up", signup_path %> |
        <%= link_to "Sign in", signin_path %>   

    <% end %>
  <hr/>
